* {
  box-sizing: border-box;
  color: #fff;
  font-family: monospace;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
}

/* html {
  background-color: rgba(162, 45, 255, 0%);
  transition: background-color 10s ease-in-out 10s;
  transition-delay: 10s;
} */

html {
  height: 100vh;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(68.34% 50% at 50% 50%, #2D9AFF 0%, #41DEE8 0%, #A22DFF 100%);
}

html::before {
  content: '!! PARE DE PROCRASTINAR !!';
}

body {
  display: none !important;
}
